#car-auto-loan-explanation .mtg-lifetime-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

#car-auto-loan-explanation .calculator-table td:not(:first-child),
#car-auto-loan-explanation .calculator-table th:not(:first-child) {
  text-align: right;
}

@media (max-width: 900px) {
  #car-auto-loan-explanation .mtg-lifetime-grid {
    grid-template-columns: 1fr;
  }
}
